Platinum/Build/Targets/arm-apple-darwin/CocoaTouchBrowser/*.xcodeproj/*.mode1v3
Platinum/Build/Targets/arm-apple-darwin/CocoaTouchBrowser/*.xcodeproj/*.mode2v3
Platinum/Build/Targets/arm-apple-darwin/CocoaTouchBrowser/*.xcodeproj/*.pbxuser
Platinum/Build/Targets/arm-apple-darwin/Platinum/*.xcodeproj/*.mode1v3
Platinum/Build/Targets/arm-apple-darwin/Platinum/*.xcodeproj/*.mode2v3
Platinum/Build/Targets/arm-apple-darwin/Platinum/*.xcodeproj/*.pbxuser
